﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
@*<div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>*@

<div id="page-wrapper">
    <div class="login-page ">
        <h2 class="title1">@ViewData["Title"]</h2>

        <div class="widget-shadow">
            <div class="login-body">
                <section>
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <label id="ShowEmail" style="font: initial; color: black"></label>
                        <input type="email" class="user" id="Email" name="Email" placeholder="Enter Your Email" required="">
                        <label id="ShowPassword" style="font: initial; color: black"></label>
                        <input type="password" name="Password" id="Password" class="lock" placeholder="Password" required="">
                        <label id="ConfirmPassword" style="font: initial; color: black"></label>
                        <input type="password" name="ConfPassword" id="ConfPassword" class="lock" placeholder="Confirm Password" required="">
                        
                        <input type="submit" name="Register" value="Register">
                        <div class="registration">
                            Already Registered.
                            <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Login</a>
                        </div>
                        <br />
                        <h4 style="color: red; text-align: center">@ViewBag.Msg</h4>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
