﻿@model PaginatedList<OnlineExamSystem.Models.Question>
@{
    ViewData["Title"] = "SQLSERVER";
    
    var page = Model.PageIndex;
    var totpage = Model.TotalPages;
    var PrevPage = "";
    var NextPage = "";

    var i = (page - 1) * 3 + 1;

    if (page <= 1)
    {
        PrevPage = "disabled";
    }

    if (page >= totpage)
    {
        NextPage = "disabled";
    }

}

<h2>SQLSERVER</h2>

@foreach (var item in ViewBag.result)
{
    

    <div id="q_@item.QuestionId">
        <p style="font-size: 120%">Question @i :@item.Title </p>
        <form>
            A: <input type="radio" name="option" value="A">@item.Option1<br>
            B: <input type="radio" name="option" value="B">@item.Option2<br>
            C: <input type="radio" name="option" value="C">@item.Option3<br>
            D: <input type="radio" name="option" value="D">@item.Option4<br>
        </form><br />
        <P id="result" hidden> Correct Answer: @item.CorrectAnswer</P>
        <input id="qId" type="text" hidden value="@item.QuestionId" />
    </div>

    i++;

}

<div>
    <form class="form-inline" method="get" asp-action="index">
        <a asp-route-page="@(page-1)" class="btn btn-primary @PrevPage">Prev</a>
        <a asp-route-page="@(page-1)" class="btn btn-primary @PrevPage">@(page - 1) </a>
        <a asp-route-page="@(page-1)" class="btn btn-primary ">@(page) </a>
        <a asp-route-page="@(page+1)" class="btn btn-primary @NextPage">@(page + 1) </a>
        <a asp-route-page="@(page+1)" class="btn btn-primary @NextPage">Next</a>

        @*<input type="number" id="cpage" class="form-control" value="@ViewBag.page" />*@
    </form>
</div>
<br />  
<div>
    <a asp-action="Index">Back to List</a>
</div>